<div class="holder mat-table mat-elevation-z8">
    <div class="table-holder">
        <mat-table matSort multiTemplateDataRows [dataSource]="dataSource">
            <ng-container matColumnDef="id">
                <mat-header-cell mat-sort-header *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let room"> {{room.id}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="game">
                <mat-header-cell mat-sort-header *matHeaderCellDef> Game </mat-header-cell>
                <mat-cell *matCellDef="let room"> {{room.game}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="users">
                <mat-header-cell mat-sort-header *matHeaderCellDef> Users </mat-header-cell>
                <mat-cell *matCellDef="let room"> {{room.connectedUsers.length}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="owner">
                <mat-cell *matCellDef="let room" class="expandable-cell"
                    [@expand]="room === selectedRoom ? 'expanded' : 'collapsed'"
                >
                    <mat-icon>admin_panel_settings</mat-icon>
                    <span matTooltip="Room owner" matTooltipPosition="after" class="owner">{{room.owner}}</span>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="description">
                <mat-cell *matCellDef="let room" class="expandable-cell"
                    [@expand]="room === selectedRoom ? 'expanded' : 'collapsed'"
                ><em>{{room.description || 'description'}}</em></mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                    <mat-icon aria-hidden="false" aria-label="Refresh" (click)="loadRooms()"
                        [ngClass]="{ 'spaced': true, 'spinning': loading$ | async }"
                    >autorenew</mat-icon>
                    <mat-icon aria-hidden="false" aria-label="Filter" (click)="toggleFiltering()" class="spaced"
                    >{{ isFiltering ? 'search_off' : 'search' }}</mat-icon>
                    <mat-icon aria-hidden="false" aria-label="Refresh" (click)="toogleAdding()"
                        [ngClass]="{ 'addIcon': true, 'reverse': isAdding }"
                    >add_circle</mat-icon>
                </mat-header-cell>
                <mat-cell *matCellDef="let room"> 
                    <button mat-raised-button color="primary" class="join-btn"
                        (click)="joinRoom($event, room)" (mousedown)="$event.stopPropagation()"
                    >Join</button>
                    <mat-icon aria-hidden="false" aria-label="More info">more_horiz</mat-icon>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="filter">
                <mat-header-cell *matHeaderCellDef class="expandable-cell"
                    [@expand]="isFiltering ? 'expanded' : 'collapsed'"
                >
                    <eka-form [form]="searchForm" [submitOn]="['keyup']" (primaryAction)="filter($event)"
                    ></eka-form>
                </mat-header-cell>
            </ng-container>
            <ng-container matColumnDef="addRoom">
                <mat-header-cell *matHeaderCellDef class="expandable-cell"
                    [@expand]="isAdding ? 'expandedDouble' : 'collapsed'"
                >
                    ADD ROOM
                </mat-header-cell>
            </ng-container>
            
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="borderless-row"></mat-header-row>
            <mat-header-row *matHeaderRowDef="['filter']; sticky: true"
                [ngClass]="{ 'borderless-row': !isFiltering }" class="borderless-row expandable-row"
            ></mat-header-row>
            <mat-header-row *matHeaderRowDef="['addRoom']; sticky: true"
                [ngClass]="{ 'borderless-row': isFiltering }" class="expandable-row"
            ></mat-header-row>
            <mat-row matRipple *matRowDef="let room; columns: displayedColumns;"
                (click)="selectRoom(room)" class="borderless-row"
            ></mat-row>
            <mat-row *matRowDef="let row; columns: detailColumns;" class="expandable-row"></mat-row>
        </mat-table>
    </div>
</div>