mat-table {
    cursor: pointer;
    user-select: none;
    width: 100%;

    mat-row:hover .join-btn {
        opacity: 100%;
        transition: opacity 0.5s ease-in-out;
        visibility: visible;
    }
}

.join-btn {
    margin-right: 10px;
    opacity: 0%;
    transition: opacity 0.5s ease-in-out;
    visibility: hidden;
    width: 100px;
}

.holder {
    border-radius: 5px;
    height: 400px;
    overflow: hidden;
}

.table-holder {
    height: 100%;
    overflow: hidden;

    &:hover {
        overflow: overlay;
    }
}

.mat-column-id, .mat-column-owner, .mat-column-game {
    max-width: 25%;
    width: 25%;
}

.mat-column-users {
    max-width: 10%;
    width: 10%;
}

.mat-column-description {
    max-width: 75%;
    width: 75%;
}

.mat-column-actions {
    justify-content: flex-end;
    max-width: 40%;
    min-width: 170px;
    width: 40%;
}

.hidden {
    display: none;
}

mat-icon.spinning {
    animation: spin-animation 1s infinite;
}

mat-icon.spaced {
    margin-right: 5px;
}

mat-icon.addIcon.reverse {
    transform: rotate(45deg);
}

@keyframes spin-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.borderless-row {
    border-bottom-width: 0;
  }
.expandable-row {
    min-height: 0;
}
.expandable-cell {
    overflow: hidden;
    height: 0;
}

.owner {
    padding-left: 5px;
}