<div class="holder mat-table mat-elevation-z8">
    <div class="table-holder">
        <mat-table matSort [dataSource]="dataSource">
            <ng-container matColumnDef="id">
                <mat-header-cell mat-sort-header *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let room"> {{room.id}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="owner">
                <mat-header-cell mat-sort-header *matHeaderCellDef> Owner </mat-header-cell>
                <mat-cell *matCellDef="let room"> {{room.owner}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="game">
                <mat-header-cell mat-sort-header *matHeaderCellDef> Game </mat-header-cell>
                <mat-cell *matCellDef="let room"> {{room.game}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="users">
                <mat-header-cell mat-sort-header *matHeaderCellDef> Users </mat-header-cell>
                <mat-cell *matCellDef="let room"> {{room.connectedUsers.length}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                    <mat-icon aria-hidden="false" aria-label="Refresh" (click)="loadRooms()"
                        [ngClass]="{ 'spaced': true, 'spinning': loading$ | async }"
                    >autorenew</mat-icon>
                    <mat-icon aria-hidden="false" aria-label="Filter" (click)="toggleFiltering()" class="spaced"
                    >{{ isFiltering ? 'search_off' : 'search' }}</mat-icon>
                    <mat-icon aria-hidden="false" aria-label="Refresh" (click)="toogleAdding()"
                        [ngClass]="{ 'addIcon': true, 'reverse': isAdding }"
                    >add_circle</mat-icon>
                </mat-header-cell>
                <mat-cell *matCellDef="let room"> 
                    <button mat-raised-button color="primary" class="join-btn"
                        (click)="joinRoom($event, room)" (mousedown)="$event.stopPropagation()"
                    >Join</button>
                    <mat-icon aria-hidden="false" aria-label="More info">more_horiz</mat-icon>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="filter">
                <mat-header-cell *matHeaderCellDef>
                    <eka-condensed-form [model]="searchData" [submitOn]="['keyup']" (submitted)="filter($event)"></eka-condensed-form>
                </mat-header-cell>
            </ng-container>
            <ng-container matColumnDef="addRoom">
                <mat-header-cell *matHeaderCellDef>
                    ADD ROOM
                </mat-header-cell>
            </ng-container>
            
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-header-row *matHeaderRowDef="secondaryColumns; sticky: true"
                [ngClass]="{ 'hidden': !secondaryColumns.length }"
            ></mat-header-row>
            <mat-row matRipple *matRowDef="let row; columns: displayedColumns;" (click)="selectRoom(row)"></mat-row>
        </mat-table>
    </div>
</div>