<mat-card class="form-card">
    <form [formGroup]="data.form" (ngSubmit)="onSubmit()">
        <mat-card-title *ngIf="data.heading">{{ data.heading }}</mat-card-title>
        <mat-card-content>
            <ng-template *ngFor="let field of fields" [ekaDynamicInput] [form]="data.form" [selector]="field"></ng-template>
        </mat-card-content>
        <mat-card-actions>
            <button type="submit" [disabled]="disabled" mat-raised-button color="primary">
                {{ data.primaryText }}
            </button>
            <button type="button" *ngIf="data.secondaryText" mat-raised-button>
                {{ data.secondaryText }}
            </button>
        </mat-card-actions>
        <mat-card-footer>
            <ng-content></ng-content>
        </mat-card-footer>
    </form>
</mat-card>