:host {
    display: block;
    padding-top: 50px;
}

eka-form {
    display: block;
    margin: 0 auto;
    max-width: 580px;
    min-width: 430px;
}

.sub-text {
    cursor: default;
    font-size: 16px;
    text-align: right;
}
