<eka-form [form]="form" [loading]="loading" (primaryAction)="onSubmit($event)">
    <div class="sub-text" [ngSwitch]="action">
        <div *ngSwitchCase="'login'">
            New around here?
            <a routerLink="../register" queryParamsHandling="preserve" class="btn btn-link">Register</a>
        </div>
        <div *ngSwitchCase="'register'">
            Already have an account?
            <a routerLink="../login" queryParamsHandling="preserve" class="btn btn-link">Log in</a>
        </div>
    </div>
</eka-form>